body {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: 'Inter', sans-serif;
}
#header-nav {
    background-color: saddlebrown;
    border: 0;
    border-radius: 0;
}
.navbar-brand {
    padding: 25px;
}
.navbar-brand h1 {
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}
#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: beige;
    text-align: center;
}

#nav-list a:hover {
   text-decoration: underline;
    color: burlywood;
   
}
#nav-list a span {
    font-size: 1.8em;
}
.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1.5px solid beige;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

#chicken-tile, #beef-tile, #sushi-tile {
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #85A577;
    overflow: hidden;
    background-color: antiquewhite;
    height: auto;
    width: 100%;
}
#chicken-tile p , #beef-tile p, #sushi-tile p {
    margin: 15px;
}

/*******Large device only******/
@media(min-width: 1200px) {
}

/*******Medium device only******/
@media(min-width: 992px) and (max-width:1199px) {
}

/*******Small device only******/
@media(min-width: 768px) and (max-width:991px) {
    
/*******Extra small device only*******/
@media(max-width:767px) {

    /*Header*/
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }

    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 5vw;
        /* 1vw = 1% of viewport width*/
    }


    #collapsable-nav a {
        font-size: 1.2em;
    }

    #collapsable-nav a span {
        /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }
    #chicken-tile, #beef-tile, #sushi-tile {
        width: 360px;
        margin: 0 auto 15px
    }
    
    }